In [1]:
include("ml_lib.jl")
using DataFrames
using CSV
using Random

In [2]:
df = DataFrame(CSV.File("data/iris.csv"));

In [3]:
predictions = Array{Tuple{Any,Any,Bool}}(undef,0)

Tuple{Any, Any, Bool}[]

In [6]:
floor(Int,1/3*nrow(df))

50

In [1]:
1/2

0.5

In [31]:
df[!,"variety"]

150-element PooledArrays.PooledVector{String15, UInt32, Vector{UInt32}}:
 "Setosa"
 "Setosa"
 "Setosa"
 "Setosa"
 "Setosa"
 "Setosa"
 "Setosa"
 "Setosa"
 "Setosa"
 "Setosa"
 "Setosa"
 "Setosa"
 "Setosa"
 ⋮
 "Virginica"
 "Virginica"
 "Virginica"
 "Virginica"
 "Virginica"
 "Virginica"
 "Virginica"
 "Virginica"
 "Virginica"
 "Virginica"
 "Virginica"
 "Virginica"

In [32]:
classValue = ["Setosa", "Versicolor", "Virginica"]

3-element Vector{String}:
 "Setosa"
 "Versicolor"
 "Virginica"

In [33]:
unique_sex = Set(df_min_cols.variety)

Set{String15} with 3 elements:
  "Versicolor"
  "Setosa"
  "Virginica"

In [41]:
df

150×5 DataFrame
 Row │ sepal.length  sepal.width  petal.length  petal.width  variety
     │ Float64       Float64      Float64       Float64      String15
─────┼─────────────────────────────────────────────────────────────────
   1 │          5.1          3.5           1.4          0.2  Setosa
   2 │          4.9          3.0           1.4          0.2  Setosa
   3 │          4.7          3.2           1.3          0.2  Setosa
   4 │          4.6          3.1           1.5          0.2  Setosa
   5 │          5.0          3.6           1.4          0.2  Setosa
   6 │          5.4          3.9           1.7          0.4  Setosa
   7 │          4.6          3.4           1.4          0.3  Setosa
   8 │          5.0          3.4           1.5          0.2  Setosa
   9 │          4.4          2.9           1.4          0.2  Setosa
  10 │          4.9          3.1           1.5          0.1  Setosa
  11 │          5.4          3.7           1.5          0.2  Setosa
  ⋮  │      ⋮             ⋮            ⋮             ⋮           ⋮
 141 │          6.7          3.1           5.6          2.4  Virginica
 142 │          6.9          3.1           5.1          2.3  Virginica
 143 │          5.8          2.7           5.1          1.9  Virginica
 144 │          6.8          3.2           5.9          2.3  Virginica
 145 │          6.7          3.3           5.7          2.5  Virginica
 146 │          6.7          3.0           5.2          2.3  Virginica
 147 │          6.3          2.5           5.0          1.9  Virginica
 148 │          6.5          3.0           5.2          2.0  Virginica
 149 │          6.2          3.4           5.4          2.3  Virginica
 150 │          5.9          3.0           5.1          1.8  Virginica
                                                       129 rows omitted

In [47]:
row[size(df,2)]

LoadError: UndefVarError: row not defined

In [ ]:
filter_second_class = df_min_cols.Pclass .== 2
df_second_class = df_min_cols[filter_second_class, :]

first(df_second_class, 5)

In [ ]:
filter_third_class = df_min_cols.Pclass .== 3
df_third_class = df_min_cols[filter_third_class, :]

first(df_third_class, 5)

In [ ]:
println("df_min_cols entropy: ", entropy(df_min_cols.Survived))
println("df_first_class entropy: ", entropy(df_first_class.Survived))
println("df_second_class entropy: ", entropy(df_second_class.Survived))
println("df_third_class entropy: ", entropy(df_third_class.Survived))

In [ ]:
filter_men = df_min_cols.Sex .== "male"
df_men = df_min_cols[filter_men, :]

filter_women = .! filter_men
df_women = df_min_cols[filter_women, :]

println("df_min_cols entropy: ", entropy(df_min_cols.Survived))
println("df_men entropy: ", entropy(df_men.Survived))
println("df_women entropy: ", entropy(df_women.Survived))

In [ ]:
max_gain = (0.,0,1)

(0.0, 0, 1)

In [ ]:
n  = nrow(df)
cut =  Int(round(n*0.33))

idexs = (1:n)

idexs  = shuffle(MersenneTwister(1234),idexs)

train_rows =  idexs[cut:n]
test_rows =  idexs[1:cut]

# train =  copy(df[train_rows,:])
test = copy(df[test_rows,:])

50×5 DataFrame
 Row │ sepal.length  sepal.width  petal.length  petal.width  variety
     │ Float64       Float64      Float64       Float64      String15
─────┼──────────────────────────────────────────────────────────────────
   1 │          7.9          3.8           6.4          2.0  Virginica
   2 │          6.4          3.1           5.5          1.8  Virginica
   3 │          5.4          3.7           1.5          0.2  Setosa
   4 │          6.3          3.3           6.0          2.5  Virginica
   5 │          6.2          2.9           4.3          1.3  Versicolor
   6 │          4.8          3.4           1.6          0.2  Setosa
   7 │          5.0          3.5           1.6          0.6  Setosa
   8 │          6.5          3.2           5.1          2.0  Virginica
   9 │          7.1          3.0           5.9          2.1  Virginica
  10 │          5.0          3.6           1.4          0.2  Setosa
  11 │          4.8          3.0           1.4          0.3  Setosa
  ⋮  │      ⋮             ⋮            ⋮             ⋮           ⋮
  41 │          4.6          3.4           1.4          0.3  Setosa
  42 │          7.7          2.8           6.7          2.0  Virginica
  43 │          5.5          2.5           4.0          1.3  Versicolor
  44 │          5.8          2.7           3.9          1.2  Versicolor
  45 │          5.8          4.0           1.2          0.2  Setosa
  46 │          6.9          3.2           5.7          2.3  Virginica
  47 │          5.3          3.7           1.5          0.2  Setosa
  48 │          4.6          3.1           1.5          0.2  Setosa
  49 │          6.0          3.4           4.5          1.6  Versicolor
  50 │          6.7          3.1           4.7          1.5  Versicolor
                                                         29 rows omitted

In [37]:
df_min_cols[1]

LoadError: ArgumentError: syntax df[column] is not supported use df[!, column] instead